  .topo {
    background-color: azure;
    padding: 1rem;
  }
  
  .logo {
    width: 200px;
    height: 200px;
    left: 50%;
    right: 50%;
    position: absolute;
    margin-top:-50px;
    margin-left:-100px;
  }
  
  .cabecalho{
    background: #4D1682;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
  }